@media (prefers-color-scheme: dark) {

  :root {
    --text-color: #F1B2CE;
    --article-title: #FF0070;
    --dec-color: #FF0070;
    --button-text: #FF0070;
    --hover-button-border: #FF007066;
    --page-title-color: #DB00FF;
    --header-title-shadow: #FF0070;
    --accent-color: #FF0070;
    --font-family: 'IBM Plex Mono', monospace;
    --background-image: url(../images/cover-image-dark.png);
    --decor-rec-v: visible;
    --title-text-color: #000028;
    --page-bacground-color: var(--page-bacground-color, #000028);
  }
  
}

.page.theme_dark {
  --text-color: #F1B2CE;
  --article-title: #FF0070;
  --dec-color: #FF0070;
  --button-text: #FF0070;
  --hover-button-border: #FF007066;
  --page-title-color: #DB00FF;
  --header-title-shadow: #FF0070;
  --accent-color: #FF0070;
  --font-family: 'IBM Plex Mono', monospace;
  --background-image: url(../images/cover-image-dark.png);
  --decor-rec-v: visible;
  --title-text-color: #000028;
  --page-bacground-color: var(--page-bacground-color, #000028);
}
