/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {

  :root {
    --text-color: #353430;
    --article-title: #353430;
    --dec-color: #353430;
    --button-text: #353430;
    --hover-button-border: #32312D66;
    --page-title-color: #FFC2E6;
    --pink-color-2: #FF0070;
    --black-color-1: #353430;
    --accent-color: #FF8DCB;
    --font-family: 'IBM Plex Mono', monospace;
    --background-image: url(../images/cover-image-light.png);
    --decor-rec-v: hidden;
    --title-text-color: #353430;
    --page-bacground-color: #fff1f7;
  }

}

.page.theme_light {
  --text-color: #353430;
  --article-title: #353430;
  --dec-color: #353430;
  --button-text: #353430;
  --hover-button-border: #32312D66;
  --page-title-color: #FFC2E6;
  --pink-color-2: #FF0070;
  --black-color-1: #353430;
  --accent-color: #FF8DCB;
  --font-family: 'IBM Plex Mono', monospace;
  --background-image: url(../images/cover-image-light.png);
  --decor-rec-v: hidden;
  --title-text-color: #353430;
  --page-bacground-color: #fff1f7;
}
