:root {
  --text-color: #353430;
  --article-title: #353430;
  --dec-color: #353430;
  --button-text: #353430;
  --hover-button-border: #32312D66;
  --page-title-color: #FFC2E6;
  --header-title-shadow: #FF0070;
  --accent-color: #FF8DCB;
  --font-family: 'IBM Plex Mono', monospace;
  --background-image: url(../images/cover-image-light.png);
  --decor-rec-v: hidden;
  --title-text-color: #353430;
}/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
